<p class="note warning"><strong> WARNING</strong>: 
Pivotal does not recommend upgrading from RabbitMQ for PCF v1.12.7 to v1.13.x on PCF v2.2 at this time.
There is an issue with this upgrade path.
</p>
