<p class="note"><strong>Note: </strong>
Deprecation warnings for the pre-provisioned service are no longer in effect,
Pivotal will provide security and bug fixes to the pre-provisioned service and
will support it for development and testing.
Pivotal recommends the on-demand service for production workloads due to its workload isolation.</p>