<p>
  Use <code>cf ssh</code> to access to the app container, then try connecting to
  RabbitMQ for Pivotal Cloud Foundry (PCF)  instance using the binding included in the
  <code>VCAP_SERVICES</code> environment variable.
</p>
