---
title: Enabling OAuth
owner: RabbitMQ
---

This topic explains how to enable OAuth.

## <a id='overview'></a> Overview

This option enables the OAuth 2 plugin for RabbitMQ. This allows applications and users to authenticate
and authorize using JWT-encoded OAuth 2.0 access tokens.

To enable OAuth for on-demand offering:

1. [Create UAA group for OAuth](#create-uaa-group)
1. [Enable OAuth in OpsManager](#enable-oauth)

## <a id='create-uaa-group'></a> Create UAA group for OAuth

## <a id='enable-oauth'></a> Enable OAuth in OpsManager

1. Go to Security for On-Demand Plans pane of the <%= vars.app_runtime_abbr %> tile.
1. Tick the 'Enable OAuth' checkbox.
1. Click the Save button
1. Apply changes

![Enable OAuth](/images/enable-oauth.png)
