---
breadcrumb: RabbitMQ for Pivotal Cloud Foundry Documentation
title: Using the RabbitMQ Management UI
owner: London Services
---

This topic describes how to use the RabbitMQ Management UI, and applies to both the on-demand and pre-provisioned services.

## <a id="manage-dash"></a>RabbitMQ Management UI

### <a id="admin"></a>Pre-Provisioned

To gain access to the management dashboard as the `admin` user, visit `http://pivotal-rabbitmq.SYS-DOMAIN`.
To retrieve your system domain, navigate to your Pivotal Application Service (PAS) tile and locate the
**System Domain** field of the **Domains** section.

The username and password is the username and password you provided in the RabbitMQ configuration in OpsManager.

<%= image_tag("images/dashboard.jpeg") %>

### <a id="admin"></a>On-demand instances

Users of Cloud Foundry who create instances via the Apps Manager or the cf CLI also get access to the Management UI.
This is done using credentials that provide access only to their particular <strong>vhost</strong>.

The appropriate URL is accessible via the Manage button within the Apps Manager. Alteratively, users can create credentials using the Cloud Foundry CLI
as shown in [the Operator documentation](./install-config.html#admin-service-key).

<%= image_tag("images/console_manage.jpeg") %>
