---
breadcrumb: VMware Tanzu RabbitMQ for VMs Documentation
title: Setting Policies for the On-Demand RabbitMQ Service
owner: London Services
---

## <a id="policy"></a> About RabbitMQ Policies

It is not possible to set a default queue and an exchange policy in the <%= vars.product_full %> tile to be applied to On-Demand RabbitMQ clusters.
Instead, VMware recommends that you use the [RabbitMQ Management UI](managing.html#access-ui-od) associated to the RabbitMQ service instance to make configuration changes.

For more information about RabbitMQ policies, see the [RabbitMQ documentation](http://www.rabbitmq.com/parameters.html#policies).
