---
title: Enabling CredHub Integration in PAS
owner: London Services
---

This topic explains how to enable securing service instance credentials with CredHub in 
Pivotal Application Service (PAS). 

<p class="note"><strong>Note</strong>: You must follow this procedure in addition to 
selecting the option <strong>(Beta) On Demand - Secure Service Instance Credentials with 
Runtime CredHub</strong> in the <a href="./install-config.html#global">Configure Global Setting tab</a>.</p>

To enable securing service instance credentials with CredHub, do the following:

1. In the Ops Manager installation dashboard, click the PAS tile.

1. Click the **CredHub** tab.
  ![PAS CredHub tab](images/pas-credhub-field.png)
1. Select the **Secure Service Instance Credentials** checkbox.

1. Click the **Resource Config** tab.

1. Ensure that the instance count for **CredHub** is greater than zero.
  ![PAS Resource Config tab](images/pas-resource-config.png)
