---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.10.x version, upgrade to the latest v1.10.x version before upgrading to the latest v1.11.x version.

See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) for product versions and upgrade paths.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id="111x"></a>v1.11.x

### <a id="1117"></a> v1.11.7

**Release Date**: January 29, 2018

#### Features

* Update to RabbitMQ v3.6.15. For more information, see 
[RabbitMQ 3.6.15 Release Notes](https://github.com/rabbitmq/rabbitmq-server/releases/tag/rabbitmq_v3_6_15).

#### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* The RabbitMQ administrator password must be a combination of uppercase and lowercase alphanumerics. Special characters such as
  ``[]^_!"#$%&()*+,-./\:;<=>`'`` can lead to issues logging into the Management UI as that user.

#### Packages

* OSS RabbitMQ v3.6.15
* Erlang v19.3.6.4
* HAProxy v1.6.13

### <a id="1116"></a> v1.11.6

**Release Date**: January 24, 2018
**Withdrawal Date**: February 5, 2018

**This release was withdawn due to an issue upgrading when there are special characters in the RabbitMQ administrator credentials.
Skip this version and upgrade to 1.11.7 or later.**

#### Features

* [**Security Fix**] Requires stemcell [3445.24](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3445.24)
 to address Spectre vulnerabilities.

#### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* Certain special characters cannot be used with the RabbitMQ administrator password, and using them can lead to issues
logging into the Management UI as that user.

#### Packages

* OSS RabbitMQ v3.6.14
* Erlang v19.3.6.4
* HAProxy v1.6.13

### <a id="1115"></a> v1.11.5

**Release Date**: January 19, 2018

#### Features

* [**Security Fix**] Requires stemcell [3445.23](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3445.23) to address GNU C Library vulnerabilities.

#### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* Certain special characters cannot be used with the RabbitMQ administrator password, and using them can lead to issues
logging into the Management UI as that user.

#### Packages

* OSS RabbitMQ v3.6.14
* Erlang v19.3.6.4
* HAProxy v1.6.13

### <a id="1113"></a> v1.11.3

**Release Date**: January 12, 2018

#### Features

* [**Security Fix**] Requires stemcell [3445.22](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3445.22)
to address the Meltdown security issue. For more information about Meltdown, see
[Pivotal Vulnerability Report: Meltdown and Spectre Attacks](https://pivotal.io/security/meltdown-and-spectre-attacks)
* Errands now run colocated within existing instances
* Service metrics now uses a drain script to prevent monit timeout issues

**On-Demand**

* `smoke-tests` errand is renamed to `on-demand-broker-smoke-tests`
* The CF timeouts for smoke tests have increased


#### Known Issues

* When installing RabbitMQ for PCF v1.11.3 on Ops Manager v1.12, errands might fail with an error like the following:
<pre class="terminal">
Task 888513 | 23:16:53 | Preparing deployment: Preparing deployment (00:00:02)
L Error: Instance 'p-rabbitmq-06f95350e62d0375148d/smoke-tests/0' doesn't exist
Task 888513 | 23:16:55 | Error: Instance 'p-rabbitmq-06f95350e62d0375148d/smoke-tests/0' doesn't exist
</pre>
If you experience this issue, disable smoke tests.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* Certain special characters cannot be used with the RabbitMQ administrator password, and using them can lead to issues
logging into the Management UI as that user.

#### Packages

* OSS RabbitMQ v3.6.14
* Erlang v19.3.6.4
* HAProxy v1.6.13

### <a id="1112"></a> v1.11.2

**Release Date**: December 22, 2017

#### Features

**On-Demand**

* Register / Deregister On Demand Service Broker, On Demand Instance Smoke Tests,
  Upgrade All Service Instances and Delete All Service Instances errands are now
  colocated with their respective broker to decrease errand run time and VM footprint.

    For more information about errands, see [Errands](http://docs.pivotal.io/tiledev/tile-errands.html).

**Pre-Provisioned**

* Broker Registrar / Deregistrar, Smoke Tests errands are now colocated with their respective broker
  to decrease errand run time and VM footprint.

    For more information about errands, see [Errands](http://docs.pivotal.io/tiledev/tile-errands.html).

#### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* Certain special characters cannot be used with the RabbitMQ administrator password, and using them can lead to issues
logging into the Management UI as that user.

#### Packages

* OSS RabbitMQ v3.6.14
* Erlang v19.3.6.4
* HAProxy v1.6.13
