---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-21-0"></a> v1.21.0

**Release Date**: MMMM DD, 2020


### Features

New features and changes in this release:

* **RabbitMQ Web STOMP plugin can now be enabled for on-demand instances:** It can be used with TLS
and Service Gateway.


### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>


### Compatibility

The following components are compatible with this release:


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
