---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends upgrading from the latest v1.15 release to the latest v1.17 release. You can skip v1.16 in this case to save time and take advantage of the latest features.

Pivotal discourages any other upgrade path that skips a release, such as v1.14 to v1.16, as they are untested.

Because v1.17 contains a new version of Erlang, upgrading to v1.17 from any previous version requires a
cluster shutdown. The service is unavailable while the cluster upgrades. After the final node upgrades, the
cluster starts and the service is available again.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).


## <a id="1-17-1"></a> v1.17.1

**Release Date**: August 27, 2019

<p class="note breaking"><strong>Breaking Change: </strong>
  Upgrading to RabbitMQ for PCF v1.17 causes app <strong>downtime</strong>.
This is because the RabbitMQ cluster is taken offline and each node is upgraded to Erlang v21.
Notify app owners of this expected downtime before you upgrade.
For more information about downtime during upgrades, see <a href="./upgrade.html#about">About the Upgrade</a>.
</p>

### Security Fix

This release includes the following security fix:

* Critical [CVE-2019–9893: libseccomp before 2.4.0 did not correctly generate 64-bit syscall argument comparisons using the arithmetic operators (LT, GT, LE, GE)](https://nvd.nist.gov/vuln/detail/CVE-2019-9893)

### Resolved Issue

This release has the following fix:

* When TLS is enabled, the RabbitMQ Management UI is now accessible from outside PCF.

### Features

New features and changes in this release:

* This release updates the following dependencies:
	* OSS RabbitMQ to v3.7.17
	* Erlang to v21.3.8.6

### Known Issues

This release has the following known issue:

* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.17">v3.7.17</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.6</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.3</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.31.1</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>16.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>90.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>56.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>30.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>269.0.0</td>
    </tr>
</table>

## <a id="1-17-0"></a> v1.17.0

**Release Date**: July 18, 2019

<p class="note breaking"><strong>Breaking Change: </strong>
  Upgrading to RabbitMQ for PCF v1.17 causes app <strong>downtime</strong>.
This is because the RabbitMQ cluster is taken offline and each node is upgraded to Erlang v21.
Notify app owners of this expected downtime before you upgrade.
For more information about downtime during upgrades, see <a href="./upgrade.html#about">About the Upgrade</a>.
</p>

### Features

New features and changes in this release:

* You can enable the `rabbitmq_amqp1_0` and the `rabbitmq_stomp` plugins
  for on-demand service instances.
  These plugins are disabled by default.
  For how to enable them, see [Enable Optional Plugins](./use.html#optional-plugins).
* You can enable shareable instances for the pre-provisioned offering independently of the on-demand service.
* This release updates the following dependencies:
	* OSS RabbitMQ to v3.7.15
	* Erlang to v21
	* golang to v1.12.6

### Known Issues

This release has the following known issues:

* Changing the Erlang Cookie value requires cluster downtime and can result in
failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).
* You can only upgrade to v1.17.0 from a v1.16 patch. This is in contrast to other v1.17 patches, which you can upgrade to from any v1.15 patch, skipping v1.16.

<%= partial '../../rabbitmq-cf/partials/rabbitmq/ki-management-ui' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.15">v3.7.15</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.3</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.0.4</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.30.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>14.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>83.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>54.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.17</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>30.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>268.0.0</td>
    </tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
