---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.11.x version,
upgrade to the latest v1.11.x version before upgrading to the latest v1.12.x version.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<p class="note warning"><strong> WARNING</strong>:
  It is not possible to upgrade from RabbitMQ for PCF v1.12.7 to v1.13.x on PCF v2.2. 
  Pivotal recommends upgrading from RabbitMQ for PCF v1.12.7 to v1.13.x on PCF v2.1.</p>

## <a id="use-new-plans"></a> Use RabbitMQ v3.7 On-Demand Plans

RabbitMQ v3.7 plans are available.
Ensure that all apps use the RabbitMQ v3.7 on-demand plans instead of the RabbitMQ v3.6 on-demand plans.

For more information, see the following:

+ [About Upgrading On-Demand Instances from RabbitMQ v3.6 to v3.7](./upgrade.html#upgrade-ondemand)
+ The [ANN RabbitMQ 3.6.x support timeline](https://groups.google.com/forum/#!msg/rabbitmq-users/kXkI-f3pgEw/UFowJIK4BQAJ)
  post on the RabbitMQ users forum

## <a id="1128"></a> v1.12.8

**Release Date**: August 20, 2018

### Features

Requires stemcell [3468.64](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3468.64)

### Known Issues

<%= partial 'do-not-upgrade' %>

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### Packages

* OSS RabbitMQ v3.6.16
* OSS RabbitMQ v3.7.6
* Erlang v20.3.8.1
* HAProxy v1.6.13

## <a id="1127"></a> v1.12.7

**Release Date**: July 13, 2018

### Features

New features and changes in this release:

- Fixes bug in the smoke tests when CredHub is enabled

### Known Issues

<%= partial 'do-not-upgrade' %>

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### Packages

* OSS RabbitMQ v3.6.16
* OSS RabbitMQ v3.7.6
* Erlang v20.3.8.1
* HAProxy v1.6.13


## <a id="1126"></a> v1.12.6

**Release Date**: June 28, 2018

### Features

New features and changes in this release:

- Requires stemcell [3468.51](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3468.51).
- Updates OSS RabbitMQ Server and Erlang packages

### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### Packages

* OSS RabbitMQ v3.6.16
* OSS RabbitMQ v3.7.6
* Erlang v20.3.8.1
* HAProxy v1.6.13


## <a id="1125"></a> v1.12.5

**Release Date**: June 5, 2018

### Features

New features and changes in this release:

- Requires stemcell [3468.46](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3468.46).
- cf-cli golang version reduced to v1.9.5 from v1.10 because of an issue parsing x509 certificates.
For more information, see the Golang issue 
[crypto/x509: CANotAuthorizedForExtKeyUsage is premature](https://github.com/golang/go/issues/24590).

### Fixed Issues

This release fixes the following issue:

* Smoke tests sometimes failed because of low time-out values.

### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### Packages

* OSS RabbitMQ v3.6.15
* OSS RabbitMQ v3.7.4
* Erlang v19.3.6.4
* HAProxy v1.6.13


## <a id="1124"></a> v1.12.4

**Release Date**: May 16, 2018

### Features

New features and changes in this release:

- Requires stemcell [3468.42](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3468.42).
- Timestamps added to log entries that did not have them.
- Golang version reduced to v1.9.5 from v1.10 because of an issue parsing x509 certificates.
For more information, see the Golang issue 
[crypto/x509: CANotAuthorizedForExtKeyUsage is premature](https://github.com/golang/go/issues/24590).

### Known Issues

* Smoke tests might fail because time-out values in the smoke tests are too low.
For more information about troubleshooting smoke tests, see [Smoke Tests](./smoke-tests.html).

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### Packages

* OSS RabbitMQ v3.6.15
* OSS RabbitMQ v3.7.4
* Erlang v19.3.6.4
* HAProxy v1.6.13

## <a id="1123"></a> v1.12.3

**Release Date**: April 19, 2018

### Features

New features and changes in this release:

**On-Demand**

  * The following errands are colocated with their respective broker to decrease errand run time and VM footprint:
    - Register / Deregister On Demand Service Broker
    - On Demand Instance Smoke Tests
    - Upgrade All Service Instances
    - Delete All Service Instances

    For more information about errands, see [Errands](http://docs.pivotal.io/tiledev/tile-errands.html).

  * [Beta] Service Sharing allows RabbitMQ deployments to be shared across Cloud Foundry spaces and orgs.

     For more information about sharing service instances,
     see [Cloud Foundry Documentation](https://docs.cloudfoundry.org/devguide/services/sharing-instances.html).

  * [Beta] Support for secure credentials (CredHub).
     Credentials are stored in a central repository and are restricted to components that actually need them.

  For more information about CredHub, see [Cloud Foundry Documentation](https://docs.cloudfoundry.org/credhub/index.html).

**Pre-Provisioned**

  * The following errands are colocated with their respective broker to decrease errand run time and VM footprint:
    - Broker Registrar / Deregistrar
    - Smoke Tests errands

    For more information about errands, see [Errands](http://docs.pivotal.io/tiledev/tile-errands.html).

### Known Issues

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

### Packages

* OSS RabbitMQ v3.6.15
* OSS RabbitMQ v3.7.4
* Erlang v19.3.6.4
* HAProxy v1.6.13

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.
