---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.12.x version,
upgrade to the latest v1.12.x version before upgrading to the latest v1.13.x version.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<p class="note"><strong>Note:</strong> Spring Cloud Services (SCS) will soon be dropping the dependency on RabbitMQ. 
Pivotal recommends that SCS users do not upgrade to RabbitMQ for PCF v1.13.0.</p>

## <a id="deprecation"></a> Pre-Provisioned Service to be Deprecated

The pre-provisioned service will be deprecated in a future release. The details
will be announced over the next few months.  Pivotal recommends using the
on-demand service for new deployments. 

Teams who currently use procedures in [Isolating Clusters with the RabbitMQ for PCF Replicator](./replicator.html) will be affected
by the deprecation of the pre-preprovisioned service and should start planning for this now.

For instructions on how to install, 
  configure, and deploy RabbitMQ for PCF
as an on-demand service, see <a href="./install-config.html">
Installing and Configuring RabbitMQ for PCF the On-Demand Service</a>.


## <a id="1130"></a> v1.13.0

**Release Date**: July 20, 2018

### Features

New features and changes in this release:

* Supports securing communication between apps and on-demand 
service instances using Transport Layer Security (TLS).
For more information, see [Preparing for TLS](./prepare-tls.html). 
For ease of upgrade from previous versions, this functionality is turned off by default.

* Includes open source RabbitMQ v3.7. This version includes many improvements. 
For more information, see the [RabbitMQ documentation](http://www.rabbitmq.com/blog/2018/02/05/whats-new-in-rabbitmq-3-7/).

* Smoke tests for the on-demand broker now use the system org, as is already the case for multi-tenant.

### Known Issues

This release has the following known issues:

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* When on-demand service instances are enabled for TLS, the `port` property in
  `VCAP_SERVICES` for `amqp+ssl` incorrectly reports that the port is `5672`.
  The actual port used for `amqp+ssl` is `5671`.

### Packages

* OSS RabbitMQ v3.7.7
* Erlang v20.3.8.1
* HAProxy v1.6.13

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.
