---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.14.x version,
upgrade to the latest v1.14.x version before upgrading to the latest v1.15.x version.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="deprecation"></a> Pivotal Is Continuing Support for the Pre-Provisioned Service

<%= vars.note_pre_provisioned %>

For information about migrating from the pre-provisioned service to the on-demand
service, see
[About Migrating a Pre-Provisioned Instance to an On-Demand Instance](./ondemand.html#migrating-from-mt).
For instructions on how to install, configure, and deploy RabbitMQ for PCF
as an on-demand service, see <a href="./install-config.html">
Installing and Configuring RabbitMQ for PCF the On-Demand Service</a>.

## <a id="1161"></a> v1.16.1

**Release Date**: April XX, XXXX

<p class="note breaking"><strong>Breaking Change:</strong>
To fix CVE-2018-1279, the method used to generate the Erlang cookie has changed in RabbitMQ for PCF v1.16.
For more information about this security issue, see
<a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
<br><br>
If you rely on the tile to generate the cookie by leaving the Erlang cookie field
blank, you willexperience a few minutes of downtime when you upgrade.
For more information, see <a href="./install-config-pp.html#security-fix">Erlang Cookie Security Fix</a>.
<br><br>
If you have set the cookie explicitly in the tile configuration, you are not
affected by this issue or this change.</p>

### Security Fixes

This release includes the following security fix:

* High [CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie](https://pivotal.io/security/cve-2018-1279)

### Features

New features and changes in this release:

* You can enable the `rabbitmq_event_exchange` and the `rabbitmq_mqtt` plugins
  for on-demand service instances.
  These plugins are disabled by default.
  For how to enable them, see [Enable Optional Plugins](./use.html#optional-plugins).

* You can configure your RabbitMQ tile to share metrics with the PCF Healthwatch service.
For more information about this service, see [Pivotal Cloud Foundry Healthwatch](https://docs.pivotal.io/pcf-healthwatch/index.html).

* You can disable service metrics for RabbitMQ for PCF service instances to reduce
operational costs.

* You can specify that a plan is a paid-type plan by selecting the **Paid Plan** checkbox
on the plan configuration pane.
In previous versions, all RabbitMQ for PCF plans were marked as free in the Marketplace.
For how to mark that a plan is a paid plan, see [Configure the Service Plan](install-config.html#service-plan).

* Configuring TLS on RabbitMQ for PCF service instances is simpler.
You can now configure TLS when you create a service instance as well as when you update
an existing service instance.
For more information, see [Enable TLS for Your Service Instance](./use.html#tls).

* Service bindings return DNS names instead of IP addresses.
For how this affects the RabbitMQ clients used by apps, see
[RabbitMQ Node Address Resolution](./use.html#bosh-dns).

* Operators can enforce TLS for all connections to on-demand RabbitMQ nodes on a deployment.
For more information, see [Configure Security](install-config.html#security).

### Resolved Issues

This release fixes the following issues:

* Cluster scaling no longer requires downtime because the Erlang cookie is
generated using a different method.

### Known Issues

This release has the following known issues:

* Changing the Erlang Cookie value requires cluster downtime, and can result in
failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Packages

* [OSS RabbitMQ v3.7.14](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.14)
* Erlang v20.3.8.20
* HAProxy v1.8.19

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
