---
title: RabbitMQ for VMware Tanzu [VMs] Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-19-0"></a> v1.19.X

**Release Date**: MMMM DD, 2020
### Features 

New features in this release:
* [RabbitMQ Prometheus](https://www.rabbitmq.com/prometheus.html) plugin support is enabled to allow metrics for RabbitMQ nodes.
* Support to wait for quorum critical nodes and mirror sync critical nodes to sync before upgrades.

### Resolved Issues

This release fixes the following issues:


### Known Issues

This release has the following known issues:

* For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2">v3.8.2</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
