---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-0-0"></a> v2.0.0

**Release Date**: MMM DD, YYYY

### Features

New features and changes in this release:

* **Run-in heading:** Feature description.

* **Additional Rabbitmq server plugins for on-demand:** These plugins are available for on-demand services:<br>

    `rabbitmq_auth_backend_cache`, `rabbitmq_auth_backend_http`, `rabbitmq_auth_backend_ldap`,
    `rabbitmq_auth_mechanism_ssl`, `rabbitmq_jms_topic_exchange`, `rabbitmq_tracing`,
    `rabbitmq_trust_store`, `rabbitmq_web_mqtt`, `rabbitmq_web_mqtt_examples`, and `rabbitmq_web_stomp_examples`.

    The plugins are disabled by default.
    For the complete list of plugins and for information on how to enable them,
    see [RabbitMQ Server Plugins](install-config.html#server-plugins)
    in _Installing and Configuring the On-Demand Service_.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td>Erlang</td>
    <td>23.2.5</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.28</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.8.12</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.9</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>354.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>91.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>46.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>91.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>3.21.5</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.40.0</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>52.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>170.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.211.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>1.12.5</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.9">v3.8.9</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
