---
title: Rotating CA Certificates
owner: RabbitMQ
---

<%= partial '../../rabbitmq-cf/partials/rabbitmq/deprecation-notice' %>

If you are using TLS for RabbitMQ for PCF, you provided a CA certificate to BOSH CredHub when
performing the procedures in [Provide or Generate a CA Certificate](./prepare-tls.html#provide-generate-pcf).

To rotate this CA certificate, see
[Rotating CA Certificates for Pivotal Cloud Foundry Services](https://community.pivotal.io/s/article/rotating-ca-certificates-for-pivotal-cloud-foundry-services) in the Pivotal Support knowledge base.

<p class="note warning"><strong>Warning:</strong> Do not rotate a CA certificate on your own.
Contact <a href="https://support.pivotal.io">Pivotal Support</a>
and follow the procedure in the Knowledge Base article with their help.</p>
