---
title: Troubleshooting On-Demand Instances
owner: London Services
---

This topic provides basic instructions for app developers troubleshooting on-demand RabbitMQ for PCF instances.

## <a id="errors"></a> Errors

You may see an error when using the Cloud Foundry Command-Line Interface (cf CLI) to perform basic operations on a RabbitMQ for PCF service instance:

* `cf create`
* `cf update`
* `cf bind`
* `cf unbind`
* `cf delete`

<!-- Partials are in https://github.com/pivotal-cf/docs-services-partials -->

### <a id="parse-error"></a>Parse a Cloud Foundry (CF) Error Message

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-parse-error' %>

### <a id="instance"></a> Retrieve Service Instance Information

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space. The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service     plan           bound apps    last operation
    my-instance   p.rabbitmq  single-node                  create succeeded
    </pre>

1. Run `cf service SERVICE-INSTANCE-NAME` to retrieve more information about a specific instance.

1. Run `cf service SERVICE-INSTANCE-NAME --guid` to retrieve the GUID of the instance, which is useful for debugging.

### <a id="management-ui-credentials"></a> Retrieve RabbitMQ Instance Credentials

To access the RabbitMQ Management UI for troubleshooting,
create a new service-key to retrieve RabbitMQ instance credentials.
Pivotal recommends that you use this key for troubleshooting only, and that you
delete the key after troubleshooting.
To retrieve the credentials, do the following:

1. Create a service-key for your RabbitMQ instance using the command
`cf create-service-key INSTANCE-NAME SERVICE-KEY-NAME`.

1. Retrieve the credentials using the command
`cf service-key INSTANCE-NAME SERVICE-KEY-NAME`.

1. Navigate to the RabbitMQ Management UI using the URL from the service key.

For example:
<pre class="terminal">
$ cf create-service-key my-rmq-instance my-key
Creating service key my-key for service instance my-rmq-instance as admin...
OK
$ cf service-key my-rmq-instance my-key
Getting key my-key for service instance my-rmq-instance as admin...
{
  "dashboard_url": "https://rmq-62e5ab21-7b38-44ac-b139-6aa97af01cd7.your.pcf.example.com/#/login/b5d0ad14-4352-48e8-8982-d5b1d257029f/tavk86pnnns1ddiqpsdtbchurn",
  ...
}
</pre>

To gain admin privileges for the RabbitMQ Management UI, create an admin user for a service instance and obtain user credentials that you can share with other app developers.

Both operators and app developers can use this procedure. See [Create an Admin User for a Service Instance](./install-config.html#admin-service-key) for more information.

### <a id='credential-setting-failure'></a>Error: Failed to Set Credentials in Credential Store

<%= partial '../../rabbitmq-cf/odb/tshoot-credhub-failing-credentials' %>

## <a id="kb"></a>Knowledge Base (Community)

<%= partial '../../rabbitmq-cf/odb/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%= partial '../../rabbitmq-cf/odb/tshoot-support-dev' %>

## <a id="delete_rabbitmq_instance"></a>Delete RabbitMQ Instances

On-Demand Broker provides a BOSH command to delete all the On-Demand Broker deployed instances. To delete the instances, do the following procedure:

1. Run the following command to delete all instances of the On-Demand Broker:

    <p class="note warning"><strong>Warning:</strong> This command deletes deployment instances serially. It is very destructive and cannot be undone.</p>

    `bosh run-errand delete-sub-deployments`
