---
title: Troubleshooting On-Demand Instances
owner: London Services
---

<%= partial 'deprecation-notice' %>

This topic provides basic instructions for app developers troubleshooting on-demand RabbitMQ for PCF instances.

## <a id="errors"></a> Errors

You may see an error when using the Cloud Foundry Command-Line Interface (cf CLI) to perform basic operations on a RabbitMQ for PCF service instance:

* `cf create`
* `cf update`
* `cf bind`
* `cf unbind`
* `cf delete`

### <a id="parse-error"></a>Parse a Cloud Foundry (CF) Error Message

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-parse-error' %>

### <a id="instance"></a> Retrieve Service Instance Information

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space. The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service            plan    bound apps    last operation
    my-instance   ondemand-rabbitmq  Solo                  create succeeded
    </pre>

1. Run `cf service SERVICE-INSTANCE-NAME` to retrieve more information about a specific instance.

1. Run `cf service SERVICE-INSTANCE-NAME --guid` to retrieve the GUID of the instance, which is useful for debugging.

### <a id="management-ui-credentials"></a> Retrieve RabbitMQ Instance Credentials

If you want to access the Management Dashboard or the RabbitMQ server for troubleshooting,
you can create a new service-key to retrieve RabbitMQ instance credentials.
Pivotal recommends that you use this key for troubleshooting only, and that you
delete the key after troubleshooting.
To retrieve the credentials, do the following:

1. Create a service-key for your RabbitMQ instance using the command
`cf create-service-key INSTANCE-NAME SERVICE-KEY-NAME`.

1. Retrieve the credentials using the command
`cf service-key INSTANCE-NAME SERVICE-KEY-NAME`.

For example:
<pre class="terminal">
$ cf create-service-key my-rmq-instance my-key
Creating service key my-key for service instance my-rmq-instance as admin...
OK
$ cf service-key my-rmq-instance my-key
Getting key my-key for service instance my-rmq-instance as admin...
{
 "host": "10.0.8.4",
 "password": "",
 "port": 6379
}
</pre>

## <a id="kb"></a>Knowledge Base (Community)

<%= partial '../../rabbitmq-cf/odb/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%= partial '../../rabbitmq-cf/odb/tshoot-support-dev' %>

## <a id="delete_rabbitmq_instance"></a>Delete RabbitMQ Instances

On-Demand Broker provides a BOSH command to delete all the On-Demand Broker deployed instances. To delete the instances, do the following procedure:

1. Run the following command to delete all instances of the On-Demand Broker:

    <p class="note warning"><strong>WARNING: </strong>This command deletes deployment instances serially. It is very destructive and cannot be undone.</p>

    `bosh run-errand delete-sub-deployments`

