---
breadcrumb: RabbitMQ for Pivotal Cloud Foundry Documentation
title: Turning Off the Pre-Provisioned Service
owner: London Services
---

This topic provides instructions on how to turn off the pre-provisioned service.

<p class="note warning"><strong>WARNING:</strong> The pre-provisioned service
will be deprecated in a future release. Pivotal recommends using the on-demand
service for new deployments. For instructions, see <a href="./install-config.html">
Installing and Configuring the On-Demand Service</a>.</p>

If you are not planning to use the pre-provisioned service, disable it.
Disabling the pre-provisioned service broker means that no instances for the
pre-provisioned service will be deployed.  This, in turn, saves money.

## Disabling Pre-Provisioned Service Manually

To turn off the pre-provisioned service manually, do the following:

1. If you are upgrading to RabbitMQ for PCF v1.14, or have previously configured the pre-provisioned service,
de-register the pre-provisioned service broker by running the following command:

    ```
    bosh -d p-rabbitmq-GUID run-errand broker-deregistrar
    ```

    Where is `GUID` is the RabbitMQ for PCF deployment GUID.

    For example:

    <pre class="terminal">$ bosh -d p-rabbitmq-aeaea3ac-aba5-a6a4-afa7-aba8a0a7a0a9 run-errand broker-deregistrar</pre>

    The broker-deregistrar  errand removes the `p-rabbitmq` service offering from the Marketplace.

1. From the Ops Manager Installation Dashboard, click the RabbitMQ tile.

1. In the RabbitMQ tile, click **Settings**.

1. Click **Pre-Provisioned RabbitMQ**, and click **No** under the **Deploy Pre-Provisioned service offering**.

    ![pre-provisioned rabbitmq pane shows deploy pre-provisioned service yes no radio button](pre-provision-turn-off-service.png)

1. Click **Save**, and then return to the Ops Manager Installation Dashboard.

1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
   For more information about this Ops Manager page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes** to redeploy and disable the pre-provisioned service.

## Disabling Pre-Provisioned Service Using Automation

If you are using automation such as scripts or pipelines to configure RabbitMQ for PCF tile,
you need to perform the following steps to disable pre-provisioned service:

1. Set `.properties.multitenant_support` property to `disabled`.

1. For instance groups related to pre-provisioned service (rabbitmq-server, rabbitmq-broker, rabbitmq-haproxy),
make sure you set the instance count to 0 or you don't set instance counts explicitely at all. This is because
OpsManager will automatically set the instance counts to 0 if `.properties.multitenant_support` is set to `disabled` but will
not prevent you from overwritting them through the API (event though the filds are inactive in the user interface).
