---
title: Upgrading RabbitMQ for PCF
owner: London Services
---

This product enables automated upgrades between versions of the product and is deployed through Ops Manager.
In some cases, you might be required to take the cluster offline. 
When this is necessary, it is clearly noted in the release notes for that version.

The upgrade paths for each version are detailed at [Pivotal Network - RabbitMQ for PCF page](https://network.pivotal.io/products/p-rabbitmq).

To upgrade on-demand instances from RabbitMQ v3.6 to v3.7,
see [About Upgrading On-Demand Instances from RabbitMQ v3.6 to v3.7](#upgrade-ondemand).

## <a id="downtime"></a> Downtime When Upgrading

A guide for downtime during upgrade deployments is shown in the table below.
In some cases, the cluster remains available during a tile upgrade, but individual queues on cluster nodes may be taken offline.

This is only a guide, so before upgrading, check the release notes for the version you are upgrading to.


<table border="1" class="nice">
<tr>
  <th>Upgrade Type</th>
  <th>Will Downtime Be Required For This Upgrade / Update </th>
</tr>
<tr>
  <th>Major Tile Version</th>
  <td>The RabbitMQ cluster is taken offline for the duration of the upgrade.
  </td>
</tr>
<tr>
  <th>Minor Tile Version</th>
  <td>The RabbitMQ cluster is taken offline for the duration of the upgrade.
  </td>
</tr>
<tr>
  <th>Patch Tile Version</th>
  <td>Normally these are rolling deployments with each node being updated in turn.
      In these cases the cluster remains available, but individual queues may be taken offline as each node is restarted.
      There are specific migration paths that require downtime, which are identified in the release notes for that version. 
  </td>
<tr>
  <th>Stemcell-Only Patch Tile Version</th>
  <td>Where the patch update is only a new stemcell version these are rolling deployments with each node being updated in turn.
      In these cases the cluster remains available, but individual queues may be taken offline as each node is restarted.
  </td>
</tr>
</table>

## <a id="notes"></a> Notes on the Upgrade Process

Review the following before starting an upgrade of RabbitMQ for PCF: 

* Upgrading to a newer version of the product does not cause any loss of data or
configuration.

* It may take busy RabbitMQ nodes a long time to shut down during
the upgrade and you must not interrupt this process.

* The benefit you get from stemcell rolling
  upgrades depends on how you have configured network partition handling and the
  **Resource Config** tab.
  An HAProxy instance count of 2 and a RabbitMQ node count of 3 are required for rolling stemcell upgrades.
  As of v1.7.7, these counts are the default. 
  For more information, see [Clustering and Network Partitions](./partitions.html).

* The length of the downtime depends on whether there is a stemcell update to
replace the operating system image or if the existing VM can just have
the RabbitMQ software updated. Stemcell updates incur additional downtime while
the IaaS creates the new VM.

* The cluster becomes unavailable only when upgrading between specific versions of Erlang or RabbitMQ.
  This is clearly stated in the release notes for those versions.

* Ops Manager ensures the instances are updated with the new packages and any
configuration changes are applied automatically.

* For issues with upgrading RabbitMQ for PCF,
  see [Troubleshooting On-Demand RabbitMQ for PCF](./troubleshoot.html).



## <a id="preupgrade"></a> Before Upgrading to a Newer Version of RabbitMQ or Erlang

Review the following before starting an upgrade that includes a new version of RabbitMQ or Erlang:

* Ensure the cluster is healthy via the RabbitMQ Management UI. You cannot rely
on the BOSH `instances` output, that reflects the state of Erlang VM, not
RabbitMQ.

* Stop RabbitMQ when upgrading the RabbitMQ or Erlang VM
version.


## <a id="upgrade"></a> Upgrade RabbitMQ for PCF

To upgrade the product, follow these steps:

1. Download the latest version of the product from [Pivotal Network](https://network.pivotal.io/products/pivotal-rabbitmq-service).
1. Upload the new .pivotal file to Ops Manager.
1. Upload the stemcell associated with the update (*if required*).
1. Update any new mandatory configuration parameters (*if required*).
1. Click **Apply changes** in the Ops Manager Installation Dashboard.
   The rest of the process is automated.

## <a id="upgrade-preprovisioned"></a> About Upgrading Pre-Provisioned Service from RabbitMQ v3.6 to v3.7

RabbitMQ for PCF v1.13 deploys RabbitMQ version 3.7 to run the pre-provisioned
service. If you deployed any previous version of the tile (v1.12 or older) you
are currently running RabbitMQ 3.6.  Due to incompatibilities between these
versions as well as a major Erlang update provided by v.13 there are manual
steps required to upgrade an existing pre-provisioned service to this version.
In short, a rolling upgrade of the cluster cannot be performed. Therefore you
need to stop all but one node, perform an upgrade and then start additional
nodes.

* This chapter is not applicable if you are installing the tile for the first time.

## Prerequisites

Before attempting the upgrade you need to make sure you have enough RAM and
disk available. If you have any mirrored queues, as you shut down nodes one by
one, [mirrored queues will be synchronised](./policies.html#syncing_queues) to the remaining nodes. This means
the remaining nodes will need additional RAM and disk space to accommodate
additional data. You can speed up the upgrade process and minimize the amount
of RAM and disk required, by draining the queues before attempting the upgrade.


### Disable Automatic Synchronisation

To avoid data replication during upgrade (when shutting down nodes),
change any automatic synchronisation policy you may have to be manual (`ha-sync-mode: manual`).
This way remaining nodes will not create new replicas and therefore memory and disk
requirements will be significantly lower.

### RAM Requirements

If you do not have any automatic synchronisation policy, there are no special RAM
requirements. Just make sure there are no alarms before attempting the upgrade.

### Persistent Disk Requirements

During upgrade, RabbitMQ will create a backup of the persistent database and
then perform database migration. Therefore disk usage can double during the
upgrade. Make sure you have enough disk space before attempting the upgrade.
Ideally, disk usage should not exceed 40% of the disk size. For example:

* you have RabbitMQ server nodes with 30GB persistent disk
* pre-upgrade disk usage is 15GB
* disk usage will jump to 30GB during upgrade
* file system reserves 5% for the root user
* therefore you should increase the disk size to at least 32GB, preferably 40GB

If RabbitMQ runs out of disk space during upgrade it will abort the process and
the node won't start. In this case go to Resource Config, change the disk size
and apply changes. RabbitMQ will attempt the backup and database migration
process automatically one next startup.

## Upgrade Process

1. If you can, drain your queues as much as possible by stopping the producers
   and allowing consumers to empty the queues. Ideally, when performing the
   upgrade, all queues in RabbitMQ should be empty or almost empty. Attempting
   the upgrade with anything more than a few GBs of data stored in RabbitMQ
   significantly increases memory and disk requirements as well as extends the
   overall upgrade duration.

You can use RabbitMQ management GUI or `rabbitmqadmin list queues name
message_bytes` command to find out which queues currently store the most messages.

1. Make sure there are no disk space or memory alarm
* Go to https://pivotal-rabbitmq.system_domain and log in with the credentials from RabbitMQ tile configuration
* Check the Nodes section of the Overview tab for alarm status

**Do not attempt the upgrade if there are active alarms and make sure the cluster is in a healthy state.**
Go back to the Prerequisites section and make sure you have enough memory and disk before attempting the upgrade.

1. Use BOSH CLI to stop HAProxy node. The command should look like this `bosh -d p-rabbitmq-... stop rabbitmq-haproxy`.
* if you have multiple HA Proxy nodes, stop all of them
* if you are using an external load balancer, stop forwarding connections to
  RabbitMQ server nodes (unless your are not concerned with losing some
  messages)

1. Use BOSH CLI to stop one of the rabbitmq-server nodes: `bosh -d p-rabbitmq-... stop rabbitmq-server/0`

1. Repeat the above step until you have only one node running

1. Upload the new RabbitMQ tile to OpsManager

1. Adjust the settings if necessary

1. Turn off the errands - since RabbitMQ HAProxy has been stopped, the errands will fail if you leave them on

1. Apply Changes

Once the operation has been completed you should have a single RabbitMQ node running with RabbitMQ version 3.7

1. Start all nodes you stopped previously:
`bosh -d p-rabbitmq-... start rabbitmq-server/0`

1. Make sure all nodes are running. Their status should be visible in RabbitMQ Management GUI.

1. Start HAProxy

1. Run the following errands directly with bosh-cli:
 * Broker Registrar: `bosh -d p-rabbitmq-... run-errand broker-registrar`
 * Register Broker: `bosh -d p-rabbitmq-... run-errand register-broker``
 * Smoke Tests: `bosh -d p-rabbitmq-... run-errand smoke-tests`
 * On Demand Smoke Tests: `bosh -d p-rabbitmq-... run-errand on-demand-broker-smoke-tests`
 * Upgrade all Service Instances: `bosh -d p-rabbitmq-... run-errand upgrade-all-service-instances`


** Warning: Make sure that your Apps reconnect to RabbitMQ. Some RabbitMQ client libraries do not support automatic reconnection and the application must be restarted.

## <a id="upgrade-ondemand"></a> About Upgrading On-Demand Instances from RabbitMQ v3.6 to v3.7

Before RabbitMQ for PCF v1.12, on-demand service instances were deployed using RabbitMQ v3.6.
RabbitMQ for PCF v1.12 provides on-demand service plans with RabbitMQ v3.6 and v3.7.

App developers can either start fresh with a v3.7 on-demand instance or they can migrate
their RabbitMQ v3.6 instances to RabbitMQ v3.7 using blue-green app deployments without downtime.

To enable the migration from on-demand v3.6 instances to v3.7 instances, the on-demand v3.7 plans should be configured to mirror the existing v3.6 plans. 
For more information,
see the blog [Blue-Green Application Deployments with RabbitMQ](https://content.pivotal.io/blog/blue-green-application-deployments-with-rabbitmq)
and the video [Blue-Green Deployment of Applications leveraging RabbitMQ](https://www.youtube.com/watch?v=S2oO-t-E38c).

RabbitMQ v3.6 on-demand plans will be removed in an upcoming RabbitMQ for PCF tile release.
Encourage all developers to move their apps away from these plans.

## <a id="policy"></a> Release Policy

When a new version of RabbitMQ is released, a new version of RabbitMQ for PCF is released soon after.

Where there is a new version of RabbitMQ or another dependent software
component, such as the stemcell released due to a critical CVE, Pivotal's goal
is to release a new version of the product within 48 hours.
