---
breadcrumb: VMware Tanzu RabbitMQ for VMs Documentation
title: RabbitMQ Entries in the VCAP_SERVICES Environment Variable
owner: London Services
---

Apps running in your deployment gain access to the bound service instances through an environment
variable credentials hash called `VCAP_SERVICES`.


## <a id="example-hash"></a> Example Hash

An example hash is shown below:

```
{
    "p-rabbitmq": [{
        "label": "p-rabbitmq",
        "name": "my-rabbit-service-instance",
        "plan": "standard",
        "tags": ["rabbitmq", "messaging", "message-queue", "amqp", "pivotal"],
        "credentials": {
            "dashboard_url": "http://pivotal-rabbitmq.your.pcf.example.com",
            "username": "b5d0ad14-4352-48e8-8982-d5b1d257029f",
            "vhost": "62e5ab21-7b38-44ac-b139-6aa97af01cd7",
            "password": "tavk86pnnns1ddiqpsdtbchurn",
            "ssl": false,
            "hostname": "q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh",
            "hostnames": [
                "q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh"
            ],
            "uri": "amqp://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh/62e5ab21-7b38-44ac-b139-6aa97af01cd7",
            "uris": [
                "amqp://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh/62e5ab21-7b38-44ac-b139-6aa97af01cd7"
            ],
            "http_api_uri": "http://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh:15672/api",
            "http_api_uris": [
                "http://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh:15672/api"
            ],
            "protocols": {
                "amqp": {
                    "password": "tavk86pnnns1ddiqpsdtbchurn",
                    "port": 5672,
                    "ssl": false,
                    "username": "b5d0ad14-4352-48e8-8982-d5b1d257029f",
                    "vhost": "62e5ab21-7b38-44ac-b139-6aa97af01cd7",
                    "host": "q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh",
                    "hosts": [
                        "q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh
                    ],
                    "uri": "amqp://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh:5672/62e5ab21-7b38-44ac-b139-6aa97af01cd7",
                    "uris": [
                        "amqp://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh:5672/62e5ab21-7b38-44ac-b139-6aa97af01cd7",
                     ]},
                "management": {
                    "username": "b5d0ad14-4352-48e8-8982-d5b1d257029f",
                    "password": "tavk86pnnns1ddiqpsdtbchurn",
                    "path": "/api",
                    "port": 15672,
                    "ssl": false,
                    "host": "q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh",
                    "hosts": [
                        "q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh"
                    ],
                    "uri": "http://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh:15672/api",
                    "uris": [
                        "http://b5d0ad14-4352-48e8-8982-d5b1d257029f:tavk86pnnns1ddiqpsdtbchurn@q-s0.rabbitmq-server.services-subnet.service-instance-e0e7fc5f-c1c7-4211-81b9-284fb29ba851.bosh:15672/api",
                    ]}}}}]}
```

You can search for your service by its `name`, given when creating the service instance, or
dynamically through the `tags` or `label` properties. The `credentials` property can be used as
follows:

* The top level properties `uri`, `uris`, `vhost`, `username`, `password`, `hostname`, and `hostnames`
provide access to the AMQP 0.9.1 protocol.

* The `credentials.protocols` property has a key per enabled protocol, offering a more flexible
approach. The possible keys are `amqp`, `management`, `mqtt`, and `stomp`. If SSL is enabled, the
keys are `amqp+ssl`, `management+ssl`, `mqtt+ssl`, and `stomp+ssl` respectively.

* The values associated with each of these keys gives access credentials specific to each protocol.
In all cases, URIs are provided along with the individual components.


## <a id="connect"></a> Connecting to a Highly Available RabbitMQ Cluster

The latest patch for <%= vars.product_short %> tile v1.5 allows for a highly available cluster
through multiple HAProxy nodes.
VMware recommends using the new `hostnames`, `uris`, and `hosts` properties instead of the equivalent
singular properties. This is because, although the singular properties are maintained for backwards
compatibility and will always contain the first value from the equivalent plural property, the
singular properties will nonetheless be deprecated eventually.

For example, with two HAProxy jobs deployed the following properties are present:

```
"hostname": "10.0.0.41",
"hostnames": [
    "10.0.0.41",
    "10.0.0.51"]
```


## <a id="changing"></a> Changing Enabled Plugins and Protocols

<p class="note">
  <strong>Note:</strong> Removing or adding plugins or protocols can cause apps bound with
  <%= vars.product_short %> to break.
</p>

If you adjust the plugins and protocols enabled for RabbitMQ, you might need to force the
`VCAP_SERVICES` environment variable for all apps to regenerate.
You must restage bound apps if you add or remove any of the following plugins:

* rabbitmq_management
* rabbitmq_stomp
* rabbitmq_web_stomp
* rabbitmq_mqtt
* rabbitmq\_amqp1\_0

In common with all services on
[<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-cf),
the `VCAP_SERVICES` environment variable for an app is only modified when the app is bound to a
service instance.
Users must `cf unbind-service`, `cf bind-service`, and `cf restage` their app in this scenario.
